<li class="<%= @item.visibility %> <%= @item.has_tag?(:deprecated) ? 'deprecated' : '' %>">
  <span class="summary_signature">
    <%= signature_for_padrino_handler(@item) %>
  </span>
  <% if object != @item.namespace %>
    <span class="note title not_defined_here">
      included
      from <%= linkify @item, object.relative_path(@item.namespace) %>
    </span>
  <% end %>
  <% if @item.has_tag?(:deprecated) %><span class="deprecated note title">deprecated</span><% end %>
  <% if @item.has_tag?(:api) && @item.tag(:api).text == 'private' %><span class="private note title">private</span><% end %>

  <% if @item.has_tag?(:deprecated) %>
    <span class="summary_desc"><strong>Deprecated.</strong> <%= htmlify_line @item.tag(:deprecated).text %></span>
  <% else %>
    <span class="summary_desc"><%= htmlify_line docstring_summary(@item) %></span>
  <% end %>
</li>
